body {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.balance {
  color: white;
  background-color: var(--Soft-red);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
#balanceShow {
  display: inherit;
  flex-direction: column;
  height: 4rem;
  justify-content: space-between;
}
#balanceShow span {
  font-size: 16px;
}
#balanceShow b {
  font-weight: 700;
  font-size: 30px;
}

.days {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 10rem;
  
}
.days .day {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: center;  
}

.shape {
  width: 2rem;
  height: 100%;
  background-color: orangered;
  border-radius: 9px 9px 0px 0px ;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}